@{ 
   ViewBag.Title = "Home";
}
@section Head{
    <style>

        .jumbotron{
            margin:auto;
            padding:1rem;
            height:500px;
        }
        body{
            font-family:Arial, Helvetica, sans-serif;
        }

          h1{
              font-size:68px;
              font-weight:bold;
              text-align:center;
              margin-top:180px;

            }  

    </style>
    }
    
<div class="jumbotron">
    <h1>Customer rating feature.</h1>

</div>
