body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 25px;
    padding-right: 25px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.commentBox {
    background-color: #efefef;
    padding: 10px;
    border-radius: 10px;
}

.starFade{
    background-image:url('/Content/Images/star-off.png');
    min-width:30px;
    min-height:30px;
    display:inline-block;
    cursor:pointer;
      background-repeat:no-repeat;
}

.starFadeN{
    background-image:url('/Content/Images/star-off.png');
    min-width:30px;
    min-height:30px;
    display:inline-block;
      background-repeat:no-repeat;
}

.starGlow{
    background-image:url('/Content/Images/star-on.png');
    min-width:30px;
    min-height:30px;
    display:inline-block;
    cursor:pointer;
      background-repeat:no-repeat;
}
.starGlowN{
    background-image:url('/Content/Images/star-on.png');
    min-width:30px;
    min-height:30px;
    display:inline-block;
    background-repeat:no-repeat;
}